<template>
  <div id="app">
    <div class="upload-box">
      <input type="file" class="input-file" @change="onInputFileChange" />

      <div style="margin-top: 10px" v-if="file">
        Name: {{ file.name }} <br />
        Type: {{ file.type }} <br />
        Size: {{ (file.size / 1024 / 1024).toFixed(4) }} MB <br />
        Upload progress: <span>{{ uploadCompletePercent }}%</span>
      </div>

      <div style="margin-top: 10px">
        <button
          type="button"
          class="btn-upload"
          @click="onClickUpload"
          :disabled="isUploading"
        >
          Upload
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
const SERVER_API_ENDPOINT = "http://localhost:9000/server.php";

export default {
  name: "App",
  components: {},

  data() {
    return {
      file: undefined,
      isUploading: false,
      uploadCompletePercent: 0,
    };
  },

  methods: {
    onInputFileChange(event) {
      const file = event.target.files[0];
      if (file) {
        this.file = file;
        this.uploadCompletePercent = 0;
      }
    },
    startUpload() {
      const vm = this;

      vm.isUploading = true;
      vm.uploadCompletePercent = 0;

      const initUploadData = {
        action: "init_upload",
        file: {
          name: this.file.name,
          type: this.file.type,
          size: this.file.size,
        },
      };

      axios
        .post(SERVER_API_ENDPOINT, initUploadData)
        .then((res) => {
          const resData = res.data;
          const uploadHeaders = {
            ...resData.headers,
            "Content-Type": vm.file.type,
          };
          axios
            .put(resData.url, vm.file, {
              headers: uploadHeaders,
              onUploadProgress: (progressEvent) => {
                vm.uploadCompletePercent = (
                  (progressEvent.loaded * 100) /
                  progressEvent.total
                ).toFixed(2);
              },
            })
            .then((res) => {
              console.log(res);
            })
            .catch((err) => {
              console.error(err);
            })
            .finally(() => {
              vm.isUploading = false;
            });
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onClickUpload() {
      if (this.file) {
        this.startUpload();
      } else {
        alert("No file selected!");
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.input-file {
  border: 1px solid #eee;
  padding: 10px 0;
  width: 100%;
}

.upload-box {
  width: 400px;
  margin: 0 auto;
}

.btn-upload {
  padding: 10px;
  width: 100%;
}
</style>
